## Excel File

In [9]:
import pandas as pd
df = pd.read_csv('sample_weather_data.csv')
df1 = pd.read_excel('sample_weather_data.xlsx')
df1

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

## Tuple

In [25]:
sample_weather_data = {
    ('1/1/2017', 32, 6, 'Rain'),
    ('1/2/2017', 35, 7, 'Sunny'),
    ('1/3/2017', 28, 2, 'Snow'),
    ('1/4/2017', 24, 4, 'Snow'),
}
df = pd.DataFrame(data=sample_weather_data, columns=['day','temperature', 'windspeed', 'event'])
df

        day  temperature  windspeed  event
0  1/2/2017           35          7  Sunny
1  1/3/2017           28          2   Snow
2  1/4/2017           24          4   Snow
3  1/1/2017           32          6   Rain

## List of dictionaries

In [22]:
sample_weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 1, 'event': 'Snow'},
    {'day': '1/4/2017', 'temperature': 24, 'windspeed': 4, 'event': 'Snow'},
]
df = pd.DataFrame(data=sample_weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          1   Snow
3  1/4/2017           24          4   Snow